body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #333333;
}

.nav-header {
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.message {
    display: none;
}

.message span {
    color: #636b6f;
    font-size: 19px;
}

.table {
    padding: 10px;
    width: 80%;
    min-width: 450px;
    border-collapse: collapse;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    vertical-align: middle;
    text-align: left;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.toggle {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
}

.read {
    background-color: #5cb85c;
}

.unread {
    background-color: #f0ad4e;
}

.btn-delete {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #d9534f;
    font-weight: 600;
}

.add {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.btn-add {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #0275d8;
    font-weight: 600;
}

.add-form {
    display: none;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.form-heading {
    font-size: 18px;
    font-weight: 600;
}

input {
    margin: 15px 10px;
    padding: 5px 10px;
}

.btn-submit {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #0275d8;
    font-weight: 600;
}

.btn-cancel {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #333333;
    font-weight: 600;
}